* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
}

/*Nav bar and header*/

.nav {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}

.burger, .close {
  display: none;
}

.logo {
  margin-left: 10%;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-right: 3%;
  height: 70px;
}

.nav_links li {
  list-style: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 20px;
}

 a {
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
  color: black;
}

a:hover {
  opacity: 1;
}

.button {
  opacity: 1;
  color: black;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid black;
}

.button:hover {
  background: rgb(24, 24, 24);
  color: white;
}

.header {
  background:  hsl(256, 26%, 20%);
  height: 60vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.familly-mobile {
  display: none;
}

.familly {
  width: 30%;
  position: absolute;
  top: 20%;
  right: 10%;
  object-fit: cover;
}

.pattern_right {
  position: absolute;
  top: 70px;
  right: 0%;
}

.pattern_left {
  position: absolute;
  left: 0%;
  top: 50.5%;
}

.text1 {
  width: 44%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10%;
}

.text1 h1 {
  font-size: 5rem;
  line-height: 90px;
}

@media screen and (max-width: 1536px) {
  .text1 h1 {
    font-size: 4rem;
    line-height: 70px;
  }
}

@media screen and (max-width: 1480px) {
  .text1 h1 {
    font-size: 3rem;
    line-height: 50px;
  }
}

@media screen and (max-width: 1222px) {
  .text1 h1 {
    font-size: 2rem;
  }

  .pattern_right {
    display: none;
  }
}



.text1 p {
  margin-top: 40px;
  font-size: 19px;
  line-height: 30px;
}

.text1 a {
  border: 2px solid white;
  color: white;
  margin-top: 50px;
  text-transform: uppercase;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
}

.text1 a:hover {
  background: white;
  color: rgb(24, 24, 24);
}

.pattern-mobile {
  display: none;
}

/*Mid informations*/

.info {
  width: 80%;
  margin: auto;  
  margin-top: 17%;
  margin-bottom: 10%;
}

.info h1 {
  font-size: 60px;
  margin-bottom: 70px;
}

.flexbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.process, .prices, .people {
  margin-top: 0px;
  width: 20%;
}

@media screen and (max-width: 1236px) {
  .process, .prices, .people {
    width: 30%;
  }
}

.process h2, .prices h2, .people h2 {
  line-height: 60px;
}

.process p, .prices p, .people p {
  line-height: 25px;
  opacity: 0.3;
  font-weight: bold;
}

@media screen and (max-width: 772px) {
  .prices h2 {
     line-height: 30px;
   }
 }

/*how we work div*/

.how_we_work {
  position: relative;
  width: 80%;
  height: 250px;
  margin: auto;
  margin-bottom: 10%;
  background: hsl(256, 26%, 20%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url(images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.how_we_work a {
  position: absolute;
  right: 10%;
  letter-spacing: 3px;
  text-decoration: none;
  color: white;
  opacity: 1;
  padding: 2%;
  border: 2px solid white;
}

.how_we_work a:hover {
  background: white;
  color: rgb(24, 24, 24);
}

.how_we_work h1 {
  font-size: 2.5rem;
  width: 26%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 100px;
}

@media screen and (max-width: 1150px) {
  .how_we_work h1 {
    font-size: 2rem;
  }
}

/*Footer*/

.footer {
  background: hsl(0, 0%, 98%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4%;
}

.logo2 {
  margin-left: 10%;
}

.social_media {
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 7%;
}

.social_media img {
  cursor: pointer;
}

@media screen and (max-width: 1536px) {
  .social_media {
    width: 9%;
  }
}

@media screen and (max-width: 1304px) {
  .social_media {
    width: 10%;
  }
}

@media screen and (max-width: 1074px) {
  .social_media {
    width: 12%;
  }
}

@media screen and (max-width: 900px) {
  .social_media {
    width: 14%;
  }
}

.line {
  width: 80%;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.footer_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20%;
  margin-left: 10%;
}

.company, .help, .contact, .others {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.company p, .help p, .contact p, .others p {
  line-height: 70px;
  font-weight: bold;
  opacity: 0.5;
}

.company a, .help a, .contact a, .others a {
  line-height: 30px;
  opacity: 1;
}

.company a:hover, .help a:hover, .contact a:hover, .others a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {

    /*nav*/
    .burger {
      display: block;
      margin-right: 5%;
    }

    .nav_links {
      background: hsl(270, 9%, 17%);
      color: white;
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 92vh;
      top: 8vh;
      background-image: url(images/bg-pattern-mobile-nav.svg);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 100%;
      transform: translate(0, -110%);
      opacity: 0;
      transition: 1s;
    }

    .nav_links li {
      margin-top: 10%;
      width: 100%;
      text-align: center;
      font-size: 2rem;
    }

    .nav_links a {
      color: white;
    }

    .nav_links .button {
      border-color: white;
    }

    /* familly image and header*/
    .familly, .pattern_left {
      display: none;
    }

    .familly-mobile {
      display: block;
      position: static;
      top: 8vh;
    }

    .header {
      text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-image: url(images/bg-pattern-intro-left-mobile.svg);
     background-repeat: no-repeat;
     height: auto;
    }

    .text1 {
      width: 90%;
      margin: auto;
      margin-top: 30%;
      margin-bottom: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 0rem;
    }

    .text1 h1 {
      font-size: 2.7rem;
    }

    .pattern-mobile {
      display: block;
      position: absolute;
      right: 0rem;
      top: 61rem;
    }

    /*mid content*/

    .info h1 {
      font-size: 2.8rem;
    }

    .flexbox {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .process, .prices, .people {
      margin-bottom: 15%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .prices h2 {
      line-height: 60px;
    }

    /*how we work div*/
    .how_we_work a {
      position: static;  
      margin-bottom: 4rem;    
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .how_we_work h1 {
      text-align: center;
      font-size: 3rem;
      padding: 0rem;
      margin: 0rem;
      width: 85%;
      margin-top: 4rem;
      margin-bottom: 3rem;
    }

    .how_we_work {
      width: 100%;
      height: auto;
      background-image: url(images/bg-pattern-how-we-work-mobile.svg);
      background-repeat: no-repeat;
      background-position: top right;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 5rem;
    }

    /*footer*/
    .icons {
      height: 10rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .social_media {
      margin: 0rem;
      margin-top: 2rem;
      width: 40%;
    }

    .logo2 {
      margin: 0rem;
    }

    .footer_links {
      flex-direction: column;
      align-items: center;
      margin: 0rem;
    }

}

.nav-active {
  transform: translate(0, 0);
  opacity: 1;
}


.burger-clear {
  display: none;
}

.close-active {
  display: block;
  margin-right: 5%;
}